.container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2e374a;
    padding: 10px;
    border-radius: 10px;
    width: max-content;

}

.input {
    border: none;
    background-color: transparent;
    color: var(--text);
    outline: none;
}


.search {
    display: flex;
    align-items: center;
    gap: 10px;
    border-color: #2e374a;
    padding:10px;
    border-radius: 10px;
}

.input {
    padding: 10px;
    border-radius: 10px;
    background-color:var(--bg) ;
    border: none;
    color: var(--textSoft)
}